<html>
	<head>
		<title>Status</title>
	</head>
	<body>
		<h1>Halo, apa kabar?</h1>
		<form action="{% url 'add_status' %}" method="POST">
			{% csrf_token %}
			{{ status_form }}
			<br/>
			<input id="submit" type="submit" value="Submit"/>
		</form>
		<table>
			<tr>
				<td>Status</td>
				<td>Time</td>
			</tr>
			{% for status in statuses %}
			<tr>
				<td> {{ status.status }} </td>
				<td> {{ status.datetime }} </td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
